.b {border: 1px solid black;}
.canvas {
    
}
.container {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.time-display {
    font-family: Arial;
    font-size: 26px;
    color: rgb(238, 238, 238);
    background-color: rgb(56, 56, 56);
}